<form action="/add-to-cart" method="post">
    <div class="card__actions">
        <button class="btn">Add to Cart</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="productId" id="productId" value="<%= product._id %>">
    </div>
</form>